@import url(./_open/NavBar_open.css);
@import url(./__container/NavBar__container.css);
@import url(./__box-link/NavBar__box-link.css);
@import url(./__link/NavBar__link.css);
@import url(./__link/_active/NavBar__link_active.css);
@import url(./__link/_account/NavBar__link_account.css);
@import url(./__btn-close/NavBar__btn-close.css);
@import url(./__btn-close/_piece/NavBar__btn-close_piece.css);
@import url(./__btn-close/_piece-left/NavBar__btn-close_piece-left.css);
@import url(./__btn-close/_piece-right/NavBar__btn-close_piece-right.css);

.NavBar {
  
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, .3);
  display: flex;
  justify-content: end;
}