.SearchForm__input {
  flex-grow: 1;
  padding: 0;
  border: none;
  height: 100%;
  background-color: inherit;
  outline: none;
  color: #fff;
  font-size: 18px;
  /* position: relative; */
}

.SearchForm__input::placeholder {
  background-image: url(../../../images/loupe.svg);
  background-repeat: no-repeat;
  background-position: 0 4px;
  padding-left: 30px;
}