.AboutMe__info {
  text-align: start;
  max-width: 600px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

@media screen and (max-width: 900px) {
  .AboutMe__info {
    max-width: 364px;
  }
}