@import url(./__container/MoviesCardList__container.css);
@import url(./__btn/MoviesCardList__btn.css);

.MoviesCardList {
  padding: 70px 70px 160px;
  background-color: #202020;
}

@media screen and (max-width: 900px) {
  .MoviesCardList {
    padding: 70px 30px 80px;
  }  
}

@media screen and (max-width: 710px) {
  .MoviesCardList {
    padding: 50px 10px 80px;
    justify-items: center;
  }  
}