.Promo__img {
  width: 310px;
  height: 304px;
}

@media screen and (max-width: 900px) {
  .Promo__img {
    order: -1;
    margin-bottom: 48px;
  }
}
@media screen and (max-width: 710px) {
  .Promo__img {
    width: 210px;
    height: 206px;
    margin-bottom: 44px;
  }
}