.Promo__text-box {
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 36px;
  margin-bottom: 146px;
}

@media screen and (max-width: 900px) {
  .Promo__text-box {
    text-align: center;
    align-items: center;
    gap: 22px;
    margin-bottom: 92px;
  }
}