.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 74px;
  padding: 0 70px;
}

@media screen and (max-width: 900px) {
  .Header {
    padding: 0 30px;
  }
}