.scale__part_back {
  width: 228px;
  flex-shrink: 0;
}

@media screen and (max-width: 900px) {
  .scale__part_back {
    width: 140px;
  }
}

@media screen and (max-width: 710px) {
  .scale__part_back {
    width: 100px;
  }
}