.Techs__text {
  margin: 26px auto 100px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.04em;
  max-width: 460px;
}

@media screen and (max-width: 900px) {
  .Techs__text {
    margin: 22px auto 83px;
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 710px) {
  .Techs__text {
    margin: 24px auto 50px;
    font-size: 11px;
    line-height: 16px;
  }
}