.MoviesCard__btn_cross {
  background-image: url(../../../../images/cross.png);
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #313131;
}