@import url(../link/link.css);
@import url(../line/line.css);
@import url(../logo/logo.css);
@import url(../alert/alert.css);

.App {
  background-color: #202020;
  text-align: center;
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
  position: relative;
}