@import url(./__btn-submit/SearchForm__btn-submit.css);
@import url(./__box/SearchForm__box.css);
@import url(./__container-search/SearchForm__container-search.css);
@import url(./__input/SearchForm__input.css);
@import url(./__line/SearchForm__line.css);
@import url(./__box/_span-error/SearchForm__box_span-error.css);

.SearchForm {
  padding: 0 70px;
  overflow: hidden;
}

@media screen and (max-width: 900px) {
  .SearchForm {
    padding: 0 30px;
  }  
}

@media screen and (max-width: 900px) {
  .SearchForm {
    padding: 0 10px ;
  }  
}